h1 {
  text-align: center;
  font-size: 100px;
  color: #7fa182;
}

body {
  background-color: #b7e8bb;
}

.play-game button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: 1000;
  color: #7fa182;
  background-color: #b7e8bb;
  border-color: #7fa182;
  border-width: 10px;
}

.choose-player{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.choose-player h1{
  font-size: 50px;
  font-weight: 1000;
  color: #7fa182;
}

.choose-player button.playerX {
  font-size: 50px;
  font-weight: 1000;
  color: #7fa182;
  background-color: #b7e8bb;
  border-color: #7fa182;
  border-width: 10px;
  padding: 30px;
}
.choose-player button.playerO {
  font-size: 50px;
  font-weight: 1000;
  color: #7fa182;
  background-color: #b7e8bb;
  border-color: #7fa182;
  border-width: 10px;
  padding: 30px;
}

.board {
  position: absolute;
  display: grid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
}

.board .grid-item {
  background: #fefdff;
  font-size: 100px;
  font-weight: 1000;
  text-align: center;
  line-height: 150px;
  margin: 5px;
  border-radius: 10px;
  color: #7fa182;
}

.playerX-info {
  position: absolute;
  display: grid;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 2px;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  color: #7fa182;
}

.playerO-info {
  position: absolute;
  display: grid;
  top: 50%;
  right: 20%;
  transform: translate(50%, -50%);
  padding: 2px;
  border-radius: 10px;
  font-size: 50px;
  text-align: center;
  color: #7fa182;
}

.winner-screen {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.winner-screen .announcement {
  font-size: 50px;
  font-weight: 1000;
  color: #7fa182;
}

.winner-screen button {
  font-size: 40px;
  font-weight: 1000;
  color: #7fa182;
  background-color: #b7e8bb;
  border-color: #7fa182;
  border-width: 10px;
  padding: 50px;
}


.winner-screen {
  z-index: 10; /* Higher than the board's z-index */
  display: none; /* Start hidden and display it only when there's a winner */
}

.board {
  z-index: 1; /* Lower than the winner-screen */
}

/* Wraps all game elements and centers them as a column */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

/* Apply this class to each direct child of .game-container */
.game-element {
  margin: 10px 0; /* Adds space between elements */
}

.playerX-info, .playerO-info {
  top: 50%; /* Center vertically in the middle */
  transform: translateY(-50%); /* Only shift vertically */
}
